attrs
blinker
click
Flask
Flask-Cors
Flask-SQLAlchemy
greenlet
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
pytest
pytest-flask
python-dotenv
six
SQLAlchemy
tomli
typing_extensions
Werkzeug
